@import "node_modules/flickity/css/flickity";
@import "variables";
@import "functions";
@import "typography";


/*! 
    Custom CSS
*/

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: inherit;
}

body{
    background-color: $color-body-light;   
    padding-top: $header-height;
    overflow-x: hidden;
}

@import "partials/**/*";
