html {
    font-family: $font-nunito;
    font-weight: 400;
    font-size: $font-size-mobile;
    
    
    color: $text-body;
    -webkit-font-smoothing: antialiased;

    @include desktop {
        font-size: $font-size-desktop !important;
    }
}

* {
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.1em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}

h1 {
    font-size: $h1-fontsize;
    line-height: 110%;
    margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0;
}

h2 {
    font-size: $h2-fontsize;
    line-height: 110%;
    margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0;
}

h3 {
    font-size: $h3-fontsize;
    line-height: 110%;
    margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0;
}

h4 {
    font-size: $h4-fontsize;
    line-height: 110%;
    margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;
}

h5 {
    font-size: $h5-fontsize;
    line-height: 110%;
    margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;
}

h6 {
    font-size: $h6-fontsize;
    line-height: 110%;
    margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: 700;
}

small {
    font-size: 75%;
}

.pull-left {
    text-align: left;
}

.pull-right {
    text-align: right;
}

.pull-center {
    text-align: center;
}
