.work-carousel {
    margin: 0 (-$gutter);
    padding: 0 $gutter;
    padding-bottom: $gutter * 2;
    overflow: hidden;

    * {
        overflow: visible;
    }

    .flickity-page-dots {
        bottom: 0;
        left: 0;
    }

    .flickity-prev-next-button {
        display: none;
        background-color: white;

        .arrow {
            fill: $color-primary;
        }

        box-shadow: box-shadow(1);
    }

    @include desktop {
        .flickity-prev-next-button {
            display: initial;
        }
    }


    &__item {
        margin: 0 ($gutter * 2);
        width: 100%;

        @include desktop {
            width: 50%;
        }


        transition: filter 0.5s $easing-function;
        pointer-events: none;
        filter: grayscale(1);

        &.is-selected {
            filter: none;
            pointer-events: auto;
        }
    }

    &__image {
        display: block;
        width: 100%;
        box-shadow: box-shadow(2);
        border-radius: 3px;
    }

    &__description {
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }

    &__text {
        margin-top: $gutter;
    }

    &__name {
        font-size: 1.6rem;
    }

    &__about {}

    &__links {
        display: flex;
        flex-direction: column;
        flex: 0 0 50px;
        margin: 0 $gutter / 2;
        margin-top: -25px;

        &>*{
            &:not(:last-child){
                margin-bottom: $gutter/4;
            }
        }
    }
}
